@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-prata: "Prata", serif;

  /* Green */
  --color-green: #00644d;
  --color-green10: #cce0db;
  --color-green20: #aacbc4;
  --color-green30: #80b2a6;
  --color-green40: #559888;
  --color-green50: #2a7e6b;
  --color-green60: #005340;
  --color-green70: #004333;
  --color-green80: #003227;
  --color-green90: #00211a;
  --color-green100: #00140f;

  /* Slate */
  --color-slate: #45464b;
  --color-slate10: #dadadb;
  --color-slate20: #c1c1c3;
  --color-slate30: #a2a3a5;
  --color-slate40: #838487;
  --color-slate50: #646569;
  --color-slate60: #3a3a3f;
  --color-slate70: #2e2f32;
  --color-slate80: #232326;
  --color-slate90: #171719;
  --color-slate100: #0e0e0f;

  --color-zinc: #c4c4c4;
  --color-black100 : #333333;
}

.auth-bg {
  background-image: url("/auth.jpg");
  background-size: cover;
  background-position: center;
}
