@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-prata: "Prata", serif;

  /* Green */
  --color-green: #00644d;
  --color-green10: #cce0db;
  --color-green20: #aacbc4;
  --color-green30: #80b2a6;
  --color-green40: #559888;
  --color-green50: #2a7e6b;
  --color-green60: #005340;
  --color-green70: #004333;
  --color-green80: #003227;
  --color-green90: #00211a;
  --color-green100: #00140f;
  --color-green15: #00E2AE;
  --color-green25: #009689;
  --color-green35: #EEFDF7;
  --color-green45: #D0FAE5;
  --color-green55: #E9FDF3;
  --color-green65: #EAFDFF;
  --color-green75: #EAFDF9;
  --color-green85: #009966;
  --color-green95: #C7F0D4;

  /* Slate */
  --color-slate: #45464b;
  --color-slate10: #dadadb;
  --color-slate20: #c1c1c3;
  --color-slate30: #a2a3a5;
  --color-slate40: #838487;
  --color-slate50: #646569;
  --color-slate60: #3a3a3f;
  --color-slate70: #2e2f32;
  --color-slate80: #232326;
  --color-slate90: #171719;
  --color-slate100: #0e0e0f;

  --color-zinc: #c4c4c4;
  --color-zinc100: #939090;
  --color-zinc200 : #F9FAFB;
  --color-zinc300: #172030;
  --color-zinc400: #242C3C;
  --color-zinc500: #F8FAFC;
  --color-zinc600: #F8FCF9;
  --color-zinc700: #F2F6F9;
  --color-zinc800: #F6F8F6;
  --color-black100: #333333;
  --color-black200 : #222222;
  --color-red : #FF383C;
  --color-green: #34C759;
}

.auth-bg {
  background-image: url("/auth.jpg");
  background-size: cover;
  background-position: center;
}

.hero-bg {
  background-image: url("/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.data-bg{
  background-image: url('/data.png');
  background-size: cover;
  background-position: center;
}

.about-bg{
  background-image: url('/about-hero.jpg');
  background-size: cover;
  background-position: center;
}

.focus-area-bg{
  background-image:
    linear-gradient(
      to bottom right,
      #009689 80%,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2),
      rgba(0, 150, 137, 0.2),
      rgba(0, 150, 137, 0.2),
      rgba(0, 150, 137, 0.57)
    ),
    url('/focus-area.jpg');

  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

.build-bg{
  background-image: url('/build-bg.jpg');
  background-size: cover;
  background-position: center;
}
