@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-prata: "Prata", serif;
  --font-inria: "Inria Sans", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  /* Green */
  --color-green: #00644d;
  --color-green10: #cce0db;
  --color-green20: #aacbc4;
  --color-green30: #80b2a6;
  --color-green40: #559888;
  --color-green50: #2a7e6b;
  --color-green60: #005340;
  --color-green70: #004333;
  --color-green80: #003227;
  --color-green90: #00211a;
  --color-green100: #00140f;
  --color-green15: #00e2ae;
  --color-green25: #009689;
  --color-green35: #eefdf7;
  --color-green45: #d0fae5;
  --color-green55: #e9fdf3;
  --color-green65: #eafdff;
  --color-green75: #eafdf9;
  --color-green85: #009966;
  --color-green95: #c7f0d4;
  --color-green200: #c9f3d7;
  --color-green300: #34c759;

  /* Slate */
  --color-slate: #45464b;
  --color-slate10: #dadadb;
  --color-slate20: #c1c1c3;
  --color-slate30: #a2a3a5;
  --color-slate40: #838487;
  --color-slate50: #646569;
  --color-slate60: #3a3a3f;
  --color-slate70: #2e2f32;
  --color-slate80: #232326;
  --color-slate90: #171719;
  --color-slate100: #0e0e0f;
  --color-slate200: #797979;

  --color-zinc: #c4c4c4;
  --color-zinc100: #939090;
  --color-zinc200: #f9fafb;
  --color-zinc300: #172030;
  --color-zinc400: #242c3c;
  --color-zinc500: #f8fafc;
  --color-zinc600: #f8fcf9;
  --color-zinc700: #f2f6f9;
  --color-zinc800: #f6f8f6;
  --color-zinc900: #ededed;
  --color-black100: #333333;
  --color-black200: #222222;
  --color-black300: #0d1b12;
  --color-red: #ff383c;
  --color-purple: #ede3ff;
  --color-purple10: #3d00b7;
  --color-brown: #ffeacc;
  --color-brown10: #995b03;
}

.auth-bg {
  background-image: url("/auth.jpg");
  background-size: cover;
  background-position: center;
}

.hero-bg {
  background-image: url("/hero-bg.png");
  background-size: cover;
  background-position: center;
}

.data-bg {
  background-image: url("/data.png");
  background-size: cover;
  background-position: center;
}

.about-bg {
  background-image: url("/about-hero.jpg");
  background-size: cover;
  background-position: center;
}

.focus-area-bg {
  background-image:
    linear-gradient(
      to bottom right,
      #009689 80%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 150, 137, 0.2),
      rgba(0, 150, 137, 0.2),
      rgba(0, 150, 137, 0.57)
    ),
    url("/focus-area.jpg");

  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

.build-bg {
  background-image: url("/build-bg.jpg");
  background-size: cover;
  background-position: center;
}

.home-about-bg{
  background-image: url("/about-bg.png");
  background-size: cover;
  background-position: bottom;
}
